#
# IMPORTANT NOTE
#
# This chart inherits from our common library chart. You can check the default values/options here:
# https://github.com/k8s-at-home/library-charts/tree/main/charts/stable/common/values.yaml
#

image:
  repository: mathiasewald/companion
  pullPolicy: IfNotPresent
  tag: v2.1.2

strategy:
  type: Recreate

env: {}

service:
  port:
    port: 8000

ingress:
  enabled: false

probes:
  liveness:
    enabled: true
    ## Set this to true if you wish to specify your own livenessProbe
    custom: true
    ## The spec field contains the values for the default livenessProbe.
    ## If you selected custom: true, this field holds the definition of the livenessProbe.
    spec:
      httpGet:
        path: /
        port: 8000
      failureThreshold: 5
      initialDelaySeconds: 60
      periodSeconds: 10
      successThreshold: 1
      timeoutSeconds: 10

persistence:
  config:
    enabled: false
    emptyDir: false

prometheus:
  podMonitor:
    enabled: false
    interval: 1m
    scrapeTimeout: 1m30s
    additionalLabels: {}
